.home {
    width: 100%;
    color: rgb(55, 73, 68);
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}

.background{
    background-image: url(../imagesVideos/pexels-george-desipris-899238.jpg);
    width: 100%;
    height: 700px;
    background-size: 100%;
}


.symbol {
    font-size: 99px;
    font-weight: bolder;
    color: white;
    margin-top: -370px;
}

.name {
    color: white;
    margin-top: -94px;
    font-size: 78px;
    font-weight: lighter;
}

.intro{
    color: rgb(176, 169, 169);
    font-size: 40px;
    margin-top: -330px;
    margin-right: 400px;
}

.about{
    color: rgb(176, 169, 169);
    font-size: 170px;
    margin-top: 600px;
    padding: 130px;
    margin-left: -150px;
    font-weight: lighter;
}

.para1{
    color: rgb(176, 169, 169) ;
    padding-right: 48%;
    margin-top: -10px;
    margin-left: 190px;
    font-size: 20px;
}

.para2{
    color:  rgb(176, 169, 169);
    padding-right: 39%;
    margin-top: 40px;
    margin-left: 190px;
    font-size: 20px;
}